[Desktop Entry]
Version=1.0
Name=<NAME>
Comment=Vczh Libraries Control Panel for Github Repos: <PATH>
Exec=gnome-terminal -e "bash -c 'cd <PATH>;source ~/Desktop/vl/vl-start-enlistment.sh;$SHELL'"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;
