[Desktop Entry]
Version=1.0
Name=<NAME>
Comment=Launch Vczh Libraries: <PATH>
Exec=gnome-terminal -e "bash -c 'source <PATH>/load.sh;$SHELL'"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;
